fastapi
uvicorn
websockets
databases[postgresql]
async-exit-stack
async_generator
ariadne
psycopg2-binary
python-jose
passlib
httpx
alembic
debugpy
aio-pika
python-decouple
python-graphql-client
pywsitest
black
pre-commit
pytest-asyncio
pytest
asyncpg
bcrypt